<div class="container">
    <div class="columns">
        <div class="left-column">
            <h2 class="welcome-text">Welcome, {{username}}</h2>
            
            <div class="button-container">
                <button class="nav-btn" (click)="showProfile()">Profile</button>
                <button class="nav-btn">Shop</button>
                <button class="nav-btn">Create Room</button>
                <button class="nav-btn">Private Messages</button>
                <img style=width:350px; src="../../../assets/images/kitty-face-diagonal.png"/>
            </div>
        </div>

        <div class="center-column">
            <div class="rooms-box">
                <h3>Public Rooms: Join and Play Now!</h3>
                <div class="text-area">
                    <div>
                        <span>Room 1</span>
                        <button (click)="joinRoom('1')">Join</button>
                    </div>
                </div>
                <!-- Dynamic room content goes here -->
            </div>
            
            <div class="chat-box">
                <h3>Lobby Chat: Please be nice!</h3>
                <div #textArea class="text-area">
                    <div *ngFor="let message of messages" class="message">
                        {{ message }}
                    </div>
                </div>
                <div class="input-area">
                    <input 
                        [(ngModel)]="newMessage" 
                        placeholder="Enter your message" 
                        class="message-input"
                        id="newMessage"
                        (keyup.enter)="sendMessage()"
                    />
                    <button class="emoji-btn" (click)="toggleEmojiPicker()">😊</button>
                    
                    <div class="emoji-container">
                        <emoji-mart
                        *ngIf="showEmojiPicker"
                        (emojiSelect)="addEmoji($event)"
                        [set]="'apple'"
                        [style]="{ position: 'absolute', bottom: '20px', left: '-50px'}"
                        [emoji]="'grinning'"
                        [showPreview]="false">
                      </emoji-mart>
                    </div>
                    <button (click)="sendMessage()" class="send-btn">Send</button>
                </div>
            </div>
        </div>

        <div class="right-column">
            <div class="skin-buttons">
                <span>Skins:</span>
                <button class="skin-btn checker-skin">Checker</button>
                <button class="skin-btn board-skin">Board</button>
            </div>
            
            <button class="logout-btn" (click)="logout()">Log Out</button>
        </div>
    </div>
</div>