<div class="register-container">
    <div class="register-box">
            <h2 class="title">Create Your Account!</h2>
            <form (submit)="register($event, username.value, password.value, email.value)">
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input #username type="text" id="username" placeholder="Choose a username" required autocomplete="username">
                </div>
                <div class="input-group">
                    <label for="email">Email Address:</label>
                    <input #email type="email" id="email" placeholder="Enter your email" required autocomplete="email">
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input #password type="password" id="password" placeholder="Create a password" required>
                </div>
                <!-- <div class="input-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input #confirmPassword type="password" id="confirmPassword" placeholder="Re-enter your password" required>
                </div> -->
                <div class="input-group">
                    <input type="checkbox" name="subscribe" id="subscribe" checked>
                    <label for="subscribe">Subscribe to receive personlized promotional material via Email</label>
                </div>
    
                <div class="button-container">
                    <button type="submit" class="register-btn">Register</button>
                </div>
            </form>
    </div>

</div>