<div class="profile-container">
    <div class="profile-box">
            <h2 class="title">{{user.username}} profile</h2>
            
            <form (submit)="saveChanges($event, username.value, password.value, email.value)" *ngIf="editMode">
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input #username type="text" id="username" [value]="user.username" required autocomplete="username">
                </div>
                <div class="input-group">
                    <label for="email">Email Address:</label>
                    <input #email type="email" id="email" [value]="user.email" required autocomplete="email">
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input #password type="password" id="password" placeholder="new password" required>
                </div>
                <div class="button-container">
                    <button type="submit" class="register-btn">Save</button>
                </div>
            </form>
    </div>

</div>