/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@ctrl/ngx-emoji-mart/picker.css';
@import '../node_modules/angular-notifier/styles.css';

body {
    margin: 0; /* Remove default margin */
    height: 110vh; /* Full viewport height */
    background-color: #f8AEC5; /* Solid color for the body */
    background-image: url('assets/images/background.jpg'); /* Background image */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-position: top center; /* Position the image at the top center */
    background-size: cover; /* Ensure the image covers the area */
    user-select: none; /* Prevent text selection */
}
